doctype html
html
  head
    title Pizza Express!!!
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/javascripts/app.js')
  body
    .container
      .order-form
        //- form to POST a new order to the servers '/orders'
        
        h1 Start Your Order

        form#form(action="/orders", method="POST", enctype="application/x-www-form-urlencoded")

          p 
            b Pick a Size
            br
            input(type='radio', name='size', value='Small') 
            | Small
            br
            input(type='radio', name='size', value='Medium') 
            | Medium
            br
            input(type='radio', name='size', value='Large') 
            | Large
            br

          p 
            b Pick Your Meat Toppings
            br
            input(type='checkbox', name='toppings.meats[]', value='Pepperoni')
            | Pepperoni
            br
            input(type='checkbox', name='toppings.meats[]', value='Ham')
            | Ham
            br
            input(type='checkbox', name='toppings.meats[]', value='Beef Toppping')
            | Beef Topping
            br
            input(type='checkbox', name='toppings.meats[]', value='Italian Sausage')
            | Italian Sausage
            br
            input(type='checkbox', name='toppings.meats[]', value='Pork Toppping')
            | Pork Topping
            br
            input(type='checkbox', name='toppings.meats[]', value='Grilled Chicken')
            | Grilled Chicken
            br
            input(type='checkbox', name='toppings.meats[]', value='Bacon')
            | Bacon
            br

          p 
            b Pick Your Vegetable Toppings
            br
            input(type='checkbox', name='toppings.veggies[]', value='Spinach')
            | Spinach
            br
            input(type='checkbox', name='toppings.veggies[]', value='Green Peppers')
            | Green Peppers
            br
            input(type='checkbox', name='toppings.veggies[]', value='Red Onions')
            | Red Onions
            br
            input(type='checkbox', name='toppings.veggies[]', value='Mushrooms')
            | Mushrooms
            br
            input(type='checkbox', name='toppings.veggies[]', value='Black Olives')
            | Black Olives
            br
            input(type='checkbox', name='toppings.veggies[]', value='Tomatoes')
            | Tomatoes
            br
            input(type='checkbox', name='toppings.veggies[]', value='Pineapple')
            | Pineapple
            br
            input(type='checkbox', name='toppings.veggies[]', value='Jalapenos')
            | Jalapenos
            br
            input(type='checkbox', name='toppings.veggies[]', value='Garlic')
            | Garlic
            br
          
          p
            input(type='submit', value='Place Your Order')

      .work-header
        h1 Order Queue

      ul.order-list
        //- orders appear

//- static items (form, work-header) go in HTML, dynamic items (order queue) in JS

