doctype html
html
  head
    title Pizza Express!!!
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/javascripts/app.js')
  body
    .container
      .order-form
        //- form to POST a new order to the servers '/orders'
      .work-header
        h1 Order Queue
      .order-list
        //- orders appear